@media screen and (max-width: 750px) {
    .el-message-box {
        width: 60% !important;
    }
}

.el-message-box__message {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.el-message-box__btns {
    text-align: center!important;
}

.el-message-box__title{
    text-align: center;
}

.el-message-box__close{
    display: none!important;
}

.el-tabs__header {
    margin: unset !important;
}

.mescroll {
    position: fixed;
    top: 35px;
    bottom: 0;
    height: auto!important;
}

.el-message{
    top: 0px!important;
}

.is-bottom{
    background: white;
}